*.o
*.so
*.a
*.pyc
.cproject                                                                                                                                                                  
.idea/                                                                                                                                                                     
.project                                                                                                                                                                   
.vscode/                                                                                                                                                                   
CMakeLists.txt                                                                                                                                                             
cmake-build-debug/                                                                                                                                                         
src/nbproject/                                                                                                                                                             
src/test/feature-vec_test                                                                                                                                                  
src/test/tree_test
src/test/forest_test
src/test/data/rand_data
src/rmutil/test_vector